{% extends "layout.html" %}

{% block content %}
<div class="ph4">
<div class="measure center">
 <h2 class="tc mt4 fancy-font"> About </h2>
 <br>
 <img src="/static/images/phoenixnowlogo.png" class="db center about-logo">
 <p> This app was made by the ECG Hello World App Club.</p>
 <p> Programming and Design by <span class="name2">Nicholas Day</span>, <span class "name3">Varun Nair</span>, Justin Kerr, and <span class="name">Ali Chaudhry</span>.</p>
 <p> Artwork designed by Calder Brown.</p>
 <p> Have an interest in Python, HTML/CSS, or Java? Feel free to check out the <a href="https://github.com/ECGHelloWorld/PhoenixNow">GitHub Page</a> or join the Hello World App Club!</p>
 </div>
</div>
{% endblock %}