{% extends "layout.html" %}

{% block content %}
 <h2 class="title"> About </h2>
 <br>
 <img src="/static/images/phoenixnowlogo.png" alt="cool phoenix" style="width:200px; height: 200px;">
 <br>
 <p class="content"> This app was made by the ECG Hello World App Club. </p>
 <br>
 <p class="content"> Programming and Design by <span class="name2">Nicholas Day</span>, Varun Nair, Justin Kerr, and <span class="name"></span>.</p>
<br>
 <p class="content"> Artwork designed by Calder Brown.</p>
<br>
 <p class="content"> Have an interest in Python, HTML/CSS, or Java? Feel free to check out the <a href="https://github.com/ECGHelloWorld/PhoenixNow/graphs/contributors">GitHub Page</a> or join the Hello World App Club!</p>



<script>
    $(document).ready(function(){
    $(function(){
        $(".name").typed({
            strings: ["Ali Chaudhry^4500", "<strong>Ali Chaudhry</strong>"],
            typeSpeed: 100,
            backDelay: 300
        });
        $(".name2").typed({
            strings: ["Nickie", "Whoops", "<strong>Nicholas Day</strong>"],
            typeSpeed: 100,
            backDelay: 300
        });
    });
    });
</script>
{% endblock %}
