{% extends "layout.html" %}
{% block content %}
  <div class="bg-white black pb5">

    <span class="f3 b tc pv3 w-100 db">Grade {{ grade }}</span>

    <table class="f6 w-100 mw9 center" cellspacing="0">

    <thead>
      <tr class="stripe-dark">
        <th class="fw6 tl pa3 bg-white">Last Name</th>
        <th class="fw6 tl pa3 bg-white">First Name</th>
        <th class="fw6 tl pa3 bg-white">Email</th>
        <th class="fw6 tl pa3 bg-white">Grade</th>
        <th class="fw6 tl pa3 bg-white">Monday</th>
        <th class="fw6 tl pa3 bg-white">Tuesday</th>
        <th class="fw6 tl pa3 bg-white">Wednesday</th>
        <th class="fw6 tl pa3 bg-white">Thursday</th>
        <th class="fw6 tl pa3 bg-white">Friday</th>
        <th class="fw6 tl pa3 bg-white">Schedule</th>
        <th class="fw6 tl pa3 bg-white">Schedule Verified</th>
      </tr>
    </thead>
    <tbody class="lh-copy">
    {% for user in users %}
    {% if user.verified %}
    <tr class="stripe-dark">
        <td class="pa3"><a href="/admin/user/{{user.id}}">{{ user.lastname }}</a></td>
        <td class="pa3"><a href="/admin/user/{{user.id}}">{{ user.firstname }}</a></td>
        <td class="pa3">{{ user.email }}</td>
        <td class="pa3"><a href="/admin/grade/{{user.grade}}">{{ user.grade }}</a></td>
        <td class="pa3">{{ user.monday }}</td>
        <td class="pa3">{{ user.tuesday }}</td>
        <td class="pa3">{{ user.wednesday }}</td>
        <td class="pa3">{{ user.thursday }}</td>
        <td class="pa3">{{ user.friday }}</td>
        <td class="pa3">{{ user.schedule }}</td>
        <td class="pa3">{{ user.schedule_verified }}</td>
    </tr>
    {% endif %}
    {% endfor %}

    </tbody>
    </table>

    <h2 class="center mw7 mt5 ml3">Check-ins</h2>
    <table class="f6 w-100 mw7 center" cellspacing="0">

    <thead>
    <tr class="stripe-dark">
    <th class="fw6 tl pa3 bg-white">Name</th>
    <th class="fw6 tl pa3 bg-white">Timestamp</th>
    <th class="fw6 tl pa3 bg-white">Week</th>
    <th class="fw6 tl pa3 bg-white">Day</th>
    </tr>
    </thead>
    
    <tbody class="lh-copy">
    {% for checkin in checkins %}    
    <tr class="stripe-dark">
    <td class="pa3"> {{ checkin.user.firstname }} {{ checkin.user.lastname }} </td>
    <td class="pa3"> {{ checkin.checkin_timestamp.strftime('%x %X%p') }} </td>
    <td class="pa3"> {{ checkin.checkin_week }} </td>
    <td class="pa3"> {{ checkin.checkin_timestamp.strftime('%A') }} </td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
  </div>
{% endblock %}
