{% extends "layout.html" %}
{% block content %}

{% if chart %}



<div class="row">
<h2>Week of {{ searchdate.strftime('%A, %B %d %Y') }}</h2>
</div>


  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

  <form action="{{ url_for('regular.history') }}" method=post>
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.date.label }}
    {{ form.date(class_="form-control") }}
    </div>

    {{ form.submit(class_="btn btn-default") }}
    
    <br></br>

    <div class="row">
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Previous Week">
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Next Week">
    </div>


  </form>
    <br></br>

  </div>
  <div class="col-sm-4"></div>
  </div>

<div class="table-responsive">
<table class="table table-striped">
<tr>
<th>Monday</th>
<th>Tuesday</th> 
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
</tr>
 
<tr>
    {% for day in user_week %}
        <td>{{ 'Present' if day else '' }}</td>
    {% endfor %}
</tr>
</table>
</div>

{% else %}

  <h2 style="color: #800000; font-family: 'Cinzel Decorative', cursive;">Input Date</h2>
  {% for message in form.date.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}

  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

  <form action="{{ url_for('regular.history') }}" method=post>
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.date.label }}
    {{ form.date(class_="form-control", value=today) }}
    </div>

    {{ form.submit(class_="btn btn-default") }}

    <br></br>

    <div class="row">
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Previous Week">
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Next Week">
    </div>

    </form>
    <br></br>

  </div>
  <div class="col-sm-4"></div>
  </div>

{% endif %}


{% endblock %}
