{% extends "layout.html" %}
{% block content %}
<div class="mt3 measure center">
  <div class="tc cf">
    <div class="pt3 w-33 fl">
      <a class="link br2 pv1 ph3 dim phoenix-red-bg white" href="{{ url_for('regular.history', month_num=prev_month) }}"><<</a>
    </div>
    <div class="pt3 w-33 fl">
      <span class="f4 b fancy-font">{{ month_name }}</span>
    </div>
    <div class="pt3 w-33 fl">
      <a class="link br2 pv1 ph3 dim phoenix-red-bg white" href="{{ url_for('regular.history', month_num=next_month) }}">>></a>
    </div>
  </div>
</div>
    <table class="ph3 mt4 f6 w-100 mw6-ns center" cellspacing="0">
      <thead>
        <tr>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">M</th>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">T</th>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">W</th>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">Th</th>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">F</th>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">Sa</th>
          <th class="white fw6 bb b--black-20 tc pv3 phoenix-red-bg">Su</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
      {% set days = [7] %}
      {% for day in month %}
        {% if days[0] == 7 %}
          <tr>
        {% endif %}
            {% if loop.index == 1 %}
              {% for n in range(start_day) %}
            {% if days.append(days.pop() - 1) %}{% endif %}
                <th class="white ba b--white bg-white tc pv3"></th>
              {% endfor %}
            {% endif %}
            {% if days.append(days.pop() - 1) %}{% endif %}
          <th class="ba b--black-20 tc pv3 {{ 'white phoenix-red-bg' if day else 'black bg-white'}}">{{ loop.index }}</th>
        {% if days[0] == 0 %}
            {% if days.append(days.pop() + 7) %}{% endif %}
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
      </table>

{% endblock %}