{% if user.is_active %}
{% extends 'layout.html' %}
{% block content %}


<h2 class="title">Welcome {{ user.firstname }} {{user.lastname}}!</h2>

{% if not checkedin %}
<div class="row">
  <form action = "{{ url_for('regular.checkin') }}">
      <div class="form-group">
  {{ form.checkin(class_="btn btn-default") }}
      </div>
  </form>
</div>
{% else %}
<div class="row">
<h4 class="title">Checked in for {{ today }}!</h4>
</div>
{% endif %}

<div class="row">

<button type="button" class="btn btn-secondary" id="showschedule">Schedule</button>
<img src="/static/images/questionmark.png" alt="schedule help" class="scheduletoggle question-mark" data-toggle="tooltip" data-placement="right" title="By default a 5 day schedule is selected. If your schedule differs, please indicate it below and an admin will verify the schedule change.">

<a href="/history" class="btn btn-secondary">History</a>
<img src="/static/images/questionmark.png" alt="schedule help" class="history-question question-mark scheduletoggle" data-toggle="tooltip" data-placement="right" title="View your checkin history one week at a time. Input dates in the format ( Year-Day-Month ).">

</div>

<div class="row scheduleform" class="hide">
<h2 class="title">Schedule </h2> 
<h4 class="content">Currently - {{ user.schedule }}</h4>
</div>



<form class="row scheduleform" class="hide" method=post action="{{ url_for('regular.schedule') }}">
        {{ form.hidden_tag() }}
        <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
        <div class="form-group">
        {{ schedule_form.monday.label }}
        {{ schedule_form.monday(class_="btn btn default", checked=user.schedule_monday) }}
        </div>
        </div>

        <div class="col-sm-2">
        <div class="form-group">
        {{ schedule_form.tuesday.label }}
        {{ schedule_form.tuesday(class_="btn btn default", checked=user.schedule_tuesday) }}
        </div>
        </div>

        <div class="col-sm-2">
        <div class="form-group">
        {{ schedule_form.wednesday.label }}
        {{ schedule_form.wednesday(class_="btn btn default", checked=user.schedule_wednesday) }}
        </div>
        </div>

        <div class="col-sm-2">
        <div class="form-group">
        {{ schedule_form.thursday.label }}
        {{ schedule_form.thursday(class_="btn btn default", checked=user.schedule_thursday) }}
        </div>
        </div>

        <div class="col-sm-2">
        <div class="form-group">
        {{ schedule_form.friday.label }}
        {{ schedule_form.friday(class_="btn btn default", checked=user.schedule_friday) }}
        </div>
        </div>
        </div>
    {{ schedule_form.submit(class_="btn btn-default") }}
</form>


<div class="row">
<h2 class="title">Week of {{ today }}</h2>
</div>

<div class="table-responsive">
<table class="table table-striped">
<tr>
<th>Monday</th>
<th>Tuesday</th> 
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
</tr>
 
<tr>
    {% for day in user_week %}
        <td>{{ 'Present' if day else '' }}</td>
    {% endfor %}
</tr>
</table>
</div>


<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip(); 

$("#showschedule").click(function(event){
    $(".scheduleform").toggle();
});

});
</script>

{% endblock %}  

{% else %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>PhoenixNow</title>
    <link rel='shortcut icon' href='/static/images/phoenixnowfavicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="homebackground">

<div class="container">
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning alert-dismissable" role="alert">
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissable" role="alert">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<div class="container">
   <div class="center-home">
   <img src="/static/images/phoenixnowlogo.png" class="home-phoenix" alt="cool phoenix">
   <p class="title home-title">PhoenixNow</p>
   <p class="tagline home-tagline">Your gateway to all things ECG, with <span class="b">{{8300 + CheckinCount}}</span> check-in's and counting...</p>
   <a href="/signin" id="SignIn" class="btn btn-default hvr-underline-from-center signin-button">Sign In </a>
   <a href="/signup" id="Register" class="btn btn-default hvr-underline-from-center register-button">Register</a>
   <br><br><br>
   </div>
</div>

</body>

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>

{% endif %}

