{% extends 'layout.html' %}
{% block content %}
<div class="tc">
<h2 class="f4 fancy-font b black-80 mv4">Welcome {{ user.firstname }} {{user.lastname}}!</h2>

{% if not checkedin %}
  <a href="/" class="b link f5 phoenix-red-bg white pv3 ph4 br2 dim pointer fancy-font">Check-in</a>
{% else %}
<span class="f4 phoenix-red mb4">You've checked in today.</span>
{% endif %}

<table class="mt5 w-100 w-50-ns black-80 center mw6" cellspacing="0">
<tr>
<th class="fw6 bb b--black-20 tc pb3 pr3">M</th>
<th class="fw6 bb b--black-20 tc pb3 pr3">T</th> 
<th class="fw6 bb b--black-20 tc pb3 pr3">W</th>
<th class="fw6 bb b--black-20 tc pb3 pr3">Th</th>
<th class="fw6 bb b--black-20 tc pb3 pr3">F</th>
</tr>
 
<tr>
    {% for day in user_week %}
        <td class="pv3 pr3 bb b--black-20 h3">{{ '✔' if day else '' }}</td>
    {% endfor %}
</tr>
</table>
</div>
{% endblock %}  