<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>PhoenixNow</title>
  <link rel='shortcut icon' href='/static/images/phoenixnowfavicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" href="/static/tachyons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">

    {% block head %}
    {% endblock %}
</head>
<body class="off-white-bg helvetica">
  <div class="flex justify-center">
    <nav class="tc bg-black-80 w-100 ph3 ph5-ns pv1">
      <div class="cf center mw7">
        <div class="fl w-100 w-auto-ns">
          <div class="cf w-100 w-auto-ns">
          <a class="fl w-25" href="/"><img src="/static/images/phoenixnowlogo.png" class="small-phoenix-logo" alt="PhoenixNow"></a>
          <a class="fl w-50 link w-auto-ns lh-copy mv3 dim f5 fl mr3 white fancy-font" href="/">PhoenixNow</a>
          <div class="fl mt2 clip-ns" id="hamburger-menu">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            </div>
          </div>
        </div>
        <a class="nav-link dn db-ns link w-100 w-auto-ns mv2 mv3-ns dim f5 fl mr3 white" href="{{ url_for('regular.about') }}">About</a>
        {% if current_user.is_active %}
        <a class="nav-link dn db-ns link w-100 w-auto-ns mv2 mv3-ns dim f5 fl mr3 white" href="{{ url_for('regular.contact') }}">Contact</a>
        <a class="nav-link dn db-ns link w-100 w-auto-ns mv2 mv3-ns dim f5 fl mr3 white" href="{{ url_for('regular.history') }}">History</a>
        {% if current_user.is_admin() %}
          <a class="nav-link dn db-ns link w-100 w-auto-ns mv2 mv3-ns dim f5 fl mr3 white" href="{{ url_for('admin.home') }}">Admin Portal</a>
        {% endif %}
        <a class="nav-link dn db-ns link w-100 w-auto-ns mt2 mb3 mv3-ns dim f5 fl white" href="{{ url_for('regular.signout') }}">Sign Out</a>
        {% else %}
        <a class="nav-link dn db-ns link w-100 w-auto-ns mv2 mv3-ns dim f5 fl white mr3" href="{{ url_for('regular.signin') }}">Signin</a>
        <a class="nav-link dn db-ns link w-100 w-auto-ns mt2 mb3 mv3-ns dim f5 fl white" href="{{ url_for('regular.signup') }}">Register</a>
        {% endif %}
      </div>
    </nav>
    </div>

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="mt4 lh-copy tc phoenix-red">{{ message }}</p>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

 {% block content %}
 {% endblock %}
{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  document.getElementById("hamburger-menu").addEventListener('click', function(e) {
    e.preventDefault();
    [].map.call(document.querySelectorAll('.nav-link'), function(el) {
      el.classList.toggle('dn')
    })
  })
})
</script>
{% endblock %}
</body>

</html>
