<!DOCTYPE>
<html>

<head>
	<title>PhoenixNow</title>
	<link rel="stylesheet" href="{{ url_for('regular.static', filename='main.css') }}">
</head>

<body>

<header>
  <div class="container">
    <h1 class="logo">PhoenixNow</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('regular.home') }}">Home</a></li>
	<li><a href="{{ url_for('regular.contact') }}">Contact Us</a></li>
         {% if current_user.is_active %}
         <li><a href="{{ url_for('regular.profile') }}">Profile</a></li>
         <li><a href="{{ url_for('regular.signout') }}">Sign Out</a></li>
         {% if current_user.is_admin() %}
	 <li><a href="{{ url_for('admin.home') }}">Admin Page</a></li>
	 {% endif %}
         {% else %}
         <li><a href="{{ url_for('regular.signup') }}">Sign Up</a></li>
         <li><a href="{{ url_for('regular.signin') }}">Sign In</a></li>
         {% endif %}

      </ul>
    </nav></strong>
  </div>
</header>

	<center>
	{% with messages = get_flashed_messages() %}
 	 {% if messages %}
  	  <ul class=flash style="list-style: none;">
  	  {% for message in messages %}
   	   <li>{{ message }}</li>
   	 {% endfor %}
  	  </ul>
 	 {% endif %}
	{% endwith %}
	</center>

<div class="container">
 {% block content %}
 {% endblock %}
</div>

</body>

</html>
