{% extends "layout.html" %}
{% block content %}
  
<h1> Agree to notifications! </h1>
<h3> database token - {{user.gcm_endpoint}} </h3>
<p> token in console -  </p>

<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src='../static/app.js'></script>

{% endblock %}
