{% extends "layout.html" %}
{% block content %}
  
<div class="jumbotron text-center">
  <h1>Setting up push notifications</h1>
  <p>Access this page on your mobile device.</p>
  <p>Agree to notifications if the site requests.</p>
  <p>Use the button to test if notifications work.</p>
  <p>Opt out by clicking the button. Generate a new token by revisiting this page.</p>
</div>

<p id="tokenCheck"> You should see a 'token' to the right -  </p>

<div class="row">
<button type="button" id="test" class="btn btn-default">Test Notifications</button>
<a href="/optout" class="btn btn-secondary"">Opt Out</a>
</div>

<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src='../static/app.js'></script>

{% endblock %}
