{% extends "layout.html" %}
 
{% block content %}
  <h2>Enter your email</h2>
  {% for message in form.email.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}

  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

  <form action="{{ url_for('regular.requestreset') }}" method=post>
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class_="form-control") }}
    </div>

    {{ form.submit(class_="btn btn-default") }}
    </form>

  </div>
  <div class="col-sm-4"></div>
  </div>

{% endblock %}
