{% extends "layout.html" %}
 
{% block content %}
  <h2>Sign up</h2>
 
  {% for message in form.firstname.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}
   
  {% for message in form.lastname.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}

  {% for message in form.grade.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}
   

  <form action="{{ url_for('regular.signup') }}" method=post>
    {{ form.hidden_tag() }}

  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    {{ form.firstname.label }}
    {{ form.firstname(class_="form-control") }}
  </div>
  <div class="col-xs-4"></div>
  </div>
     
  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    {{ form.lastname.label }}
    {{ form.lastname(class_="form-control") }}
  </div>
  <div class="col-xs-4"></div>
  </div>

  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <label for="grade">Select grade level:</label>
      <select class="form-control" name="grade" id="grade">
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option >12</option>
      </select>
  </div>
  <div class="col-xs-4"></div>
  </div>
     
  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    {{ form.email.label }}
    {{ form.email(class_="form-control") }}
  </div>
  <div class="col-xs-4"></div>
  </div>
   
  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    {{ form.password.label }}
    {{ form.password(class_="form-control") }}
  </div>
  <div class="col-xs-4"></div>
  </div>

  <div class="row">
    {{ form.submit(class_="btn btn-default") }}
  </div>

  </form>

     
{% endblock %}
