{% extends "layout.html" %}
 
{% block content %}
<main class="pa4 black-80">
  <form class="measure center" action="{{ url_for('regular.signup') }}" method=post>
    {{ form.hidden_tag() }}
    <fieldset id="sign_up" class="ba b--transparent ph0">
      <legend class="fancy-font f4 fw6 ph0 mh0 black">Register</legend>

      <div class="mt3">
        {{ form.firstname.label(class_="db fw6 lh-copy f6") }}
        {{ form.firstname(class_="pa2 input-reset ba w-100") }}
	{% for message in form.firstname.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>
      <div class="mt3">
        {{ form.lastname.label(class_="db fw6 lh-copy f6") }}
        {{ form.lastname(class_="pa2 input-reset ba w-100") }}
	{% for message in form.lastname.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>
    <div class="mt3">
    <label for="grade" class="mr2 fw6 lh-copy f6">Select Grade Level</label>
      <select name="grade" id="grade">
        <option>11</option>
        <option>12</option>
      </select>
	{% for message in form.grade.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
    </div>
      <div class="mt3">
        {{ form.email.label(class_="db fw6 lh-copy f6") }}
        {{ form.email(class_="pa2 input-reset ba w-100") }}
	{% for message in form.email.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>
      <div class="mt3">
        {{ form.password.label(class_="db fw6 lh-copy f6") }}
        {{ form.password(class_="pa2 input-reset ba w-100") }}
	{% for message in form.password.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>
      <div class="mt3">
        {{ form.confirmpassword.label(class_="db fw6 lh-copy f6") }}
        {{ form.confirmpassword(class_="pa2 input-reset ba w-100") }}
	{% for message in form.confirmpassword.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>

    <div class="mt3">
      {{ form.submit(class_="phoenix-red-bg br2 white pv2 ph3 bn dim pointer f6 input-reset mr2") }}
    </div>

  </form>
  </main>
{% endblock %}
