{% extends "layout.html" %}
 
{% block content %}
<main class="pa4 black-80">
  <form class="measure center" action="{{ url_for('regular.signin') }}" method=post>
    {{ form.hidden_tag() }}
    <fieldset id="sign_in" class="ba b--transparent ph0">

      <legend class="fancy-font f4 fw6 ph0 mh0 black">Signin</legend>

      <div class="mt3">
        {{ form.email.label(class_="db fw6 lh-copy f6") }}
        {{ form.email(class_="pa2 input-reset ba w-100") }}
	{% for message in form.email.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>

      <div class="mv3">
        {{ form.password.label(class_="db fw6 lh-copy f6") }}
        {{ form.password(class_="pa2 input-reset ba w-100") }}
	{% for message in form.password.errors %}
    <p class="mt1 mb2 lh-title f6 phoenix-red">{{ message }}</p>
	{% endfor %}
      </div>

    </fieldset>

    <div>
      {{ form.submit(class_="phoenix-red-bg white pv2 ph3 bn dim br2 pointer f6 input-reset mr2") }}
    </div>

    <div class="lh-copy mt3">
      <a class="f6 link dim black" href="{{ url_for('regular.requestreset') }}">Forget Your Password?</a>
    </div>
  </form>
</main>


{% endblock %}
