<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>PhoenixNow</title>
    <link rel='shortcut icon' href='/static/images/phoenixnowfavicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="/static/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="founders-background">

  <div class="tc">
   <img src="/static/images/phoenixnowlogo.png" class="w-40 w-20-ns h-auto" alt="cool phoenix">
   <h1 class="fancy-font phoenix-red f2 f1-ns">PhoenixNow</h1>
   <p class="fancy-font b f5 mb4">Your gateway to all things ECG, with <span class="b">{{8300 + CheckinCount}}</span> check-in's and counting...</p>
   <a href="/signin" class="phoenix-red-bg white br2 ph4 pv3 link f5 hvr-underline-from-center mr2">Sign In </a>
   <a href="/signup" class="phoenix-red-bg white br2 ph4 pv3 link f5 hvr-underline-from-center">Register</a>
   </div>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="mt4 lh-copy tc phoenix-red">{{ message }}</p>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

</body>
</html>