{% extends "layout.html" %}
{% block content %}
  <div class="">

    <span class="f3 b fancy-font tc pv3 mt3 w-100 db">{{ user.firstname }} {{ user.lastname }}</span>

    <div class="cf">
    
    <div class="fl w-33">

<form class="pt4 center mw4" method=post action="{{ url_for('admin.schedule', user_id=user.id) }}">
        {{ schedule_form.hidden_tag() }}
        <fieldset id="schedule_form" class="bn">
        <legend class="black-80 f4 fw6 ph0 mh0 black">Schedule</legend>
        <div class="flex items-center mt2 mb2">
            {{ schedule_form.monday(class_="mr2", checked=user.schedule_monday) }}
            {{ schedule_form.monday.label }}
        </div>

        <div class="flex items-center mb2">
        {{ schedule_form.tuesday(class_="mr2", checked=user.schedule_tuesday) }}
        {{ schedule_form.tuesday.label }}
        </div>

        <div class="flex items-center mb2">
        {{ schedule_form.wednesday(class_="mr2", checked=user.schedule_wednesday) }}
        {{ schedule_form.wednesday.label }}
        </div>

        <div class="flex items-center mb2">
        {{ schedule_form.thursday(class_="mr2", checked=user.schedule_thursday) }}
        {{ schedule_form.thursday.label }}
        </div>

        <div class="flex items-center mb3">
        {{ schedule_form.friday(class_="mr2", checked=user.schedule_friday) }}
        {{ schedule_form.friday.label }}
        </div>
        <div>
        {{ schedule_form.submit(class_="phoenix-red-bg white pv2 ph3 bn dim br2 pointer f6 input-reset mr2") }}
        </div>
    </fieldset>
</form>
    </div>

    <div class="fl w-33">


    <form class="mw5 center" action="{{ url_for('admin.user', user_id=user.id) }}" method=post>
    <h3>Edit User Information</h3>
      {{ form.hidden_tag() }}

      <div class="mt3">
      {{ form.firstname.label(class_="db") }}
      {{ form.firstname(class_="form-control", value=user.firstname) }}
      </div>

      <div class="mt3">
      {{ form.lastname.label(class_="db") }}
      {{ form.lastname(class_="form-control", value=user.lastname) }}
      </div>

      <div class="mv3">
      <label for="grade">Select Grade Level</label>
        <select class="form-control" name="grade" id="grade">
          <option {{'selected=selected' if user.grade == 11 else ''}}>11</option>
          <option {{'selected=selected' if user.grade == 12 else ''}}>12</option>
        </select>
      </div>

      <div class="mt2">
      {{ form.submit(class_="button-reset bn br2 phoenix-red-bg pv2 ph3 dim white") }}
      </div>

    </form>

    </div>

    <div class="fl w-33">

    <h3 class="tc">Check-ins</h3>
    <table class="center f6" cellspacing="0">

    <thead>
    <tr class="stripe-dark">
    <th class="fw6 tl pa3 off-white-bg">Timestamp</th>
    <th class="fw6 tl pa3 off-white-bg">Day</th>
    </tr>
    </thead>
    
    <tbody class="lh-copy">
    {% for checkin in user.checkins %}    
    <tr class="stripe-dark">
    <td class="pa2"> {{ checkin.checkin_timestamp.strftime('%x %X%p') }} </td>
    <td class="pa2"> {{ checkin.checkin_timestamp.strftime('%A') }} </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>


  </div>
{% endblock %}
