{% extends "layout.html" %}
{% block content %}
  <div style="background: #ffffff; color: black;">

      <h2>{{ user.firstname }} {{ user.lastname }}</h2>

    <div class="table-responsive">
    <table class="table table-striped">

    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Grade</th>
    <th>Verified</th>
    <th>Schedule Verified</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    </tr>

    <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.grade }}</td>
    <td>{{ user.verified }}</td>
    <td>{{ user.schedule_verified }}</td>
    <td>{{ user.monday }}</td>
    <td>{{ user.tuesday }}</td>
    <td>{{ user.wednesday }}</td>
    <td>{{ user.thursday }}</td>
    <td>{{ user.friday }}</td>
    </tr>

    </table>
    </div>

    <h2>Schedule</h2>

    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Schedule</th>
            <th>Verified</th>
            <th>Verify?</th>
        </tr>
        <tr>
            <td>{{ user.schedule }}</td>
            <td>{{ user.schedule_verified }}</td>
            <td><a href="/admin/user/{{ user.id }}/verify_schedule">Toggle Verification</a></td>
        </tr>
    </table>


    <h2>Check-ins</h2>
    <table class="table table-striped table-responsive table-hover">

    <tr>
    <th>Timestamp</th>
    <th>Name</th>
    </tr>
    
    {% for checkin in user.checkins %}    
    <tr>
    <td> {{ checkin.checkin_timestamp.strftime('%x %X%p') }} </td>
    <td> {{ checkin.user.firstname }} {{ checkin.user.lastname }} </td>
    </tr>
    {% endfor %}

    </table>
    </div>
  </div>
{% endblock %}
