# requirements.txt

pytest==2.9.2
pytest-cov==2.2.1
pytest-xdist==1.14

Flask==0.11.1

SQLAlchemy==1.0.14
Flask-SQLAlchemy==2.1

bcrypt==2.0.0

sphinx-autobuild==0.6.0
Sphinx==1.4.4

Flask-WTF==0.12

Flask-Mail==0.9.1

Flask-Login==0.3.2

celery==3.1.23
