body {
    padding-top: 80px;
}

body.background {
    padding-top: 80px;
    font-family: "Roboto Thin", "Calibri", "Times New Roman", serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+10,ffffff+100 */
background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 10%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 10%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 10%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

   /* text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/

}
.container {
    text-align: center;
}

}
.center-home {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
      padding-top: 0px;
}
.table {
    text-align: left;
    color: black;
}
.row {
    margin-bottom: 20px;
    color: black;

}

.form-control {
  text-align: center;
}

.form-control#grade {
  padding-left: 47%;
}

#SignIn, #Register {
  background: #800000;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


