body {
    padding-top: 80px;
    
}

body.background {
    padding-top: 80px;

    font-family: "Roboto Thin", "Calibri", "Times New Roman", serif;

    background: #F0EAD6;
    margin: 0;

    color: #800000; 

}

body.homebackground {

    background: url(/static/images/homepagebackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    text-align: center;
}

}
.center-home {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
      padding-top: 0px;
}
.table {
    text-align: left;
    color: black;
    font-weight: bold;
}
.row {
    margin-bottom: 20px;
    color: black;

}

.form-control {
  text-align: center;
}

.form-control#grade {
  padding-left: 47%;
}

#SignIn, #Register, .btn {
  background: #800000;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar-brand#navpic {
  margin-top: 0px;
  padding: 0px;
}

.newtheme {


}
