body {
    padding-top: 80px;
}

textarea {
    text-align: center;
}

.nav-logo {
    width:200px;
    height: 200px;
}

.admin-background {
    background: #ffffff;
    color: black;
}

.input-date {
    color: #800000;
    font-family: 'Cinzel Decorative', cursive;
}

.updatelog {
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(54, 25, 25, .3);
    border: solid 1px black;
    border-radius: 25px;
    width: 200px;
}

body.background {
    padding-top: 80px;
    font-family: "Calibri", "Times New Roman", serif;
    background: #F0EAD6;
    margin: 0;
    color: #800000; 
}

body.homebackground {
    padding-top: 30px;
    background: url(/static/images/homepagebackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    text-align: center;
}

.center-home {
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0px;
}

.home-phoenix {
    width: 290px;
    height: 290px;
}

.table {
    text-align: left;
    color: black;
    font-weight: bold;
}
.row {
    margin-bottom: 20px;
    color: black;
}

.form-control {
  text-align: center;
}

.form-control#grade {
  padding-left: 47%;
}

#SignIn, #Register, .btn {
  background: #800000;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar-brand#navpic {
  margin-top: 0px;
  padding: 0px;
}

.title {
    color: #800000; 
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 20px;
}

.admin-user {
    margin-bottom:10px;
}

.password-reset {
    color: #800000;
    font-family: 'Cinzel Decorative', cursive;
}

.home-title {
    font-size: 48px;
    font-size: 5vmax;
    margin: 0px;
}

.signin-button {
    margin-right: 5px;
}

.register-button {
    margin-left: 5px;
}

.small-phoenix-logo {
    height: 45px;
    width: 45px
}

.home-tagline {
    margin-bottom: 20px;
    font-size: 18px;
    font-size: 2.5vmin;
    font-weight: bold;
}

.question-mark {
    width:20px;
    height: 20px;
}

.hide {
    display: none;
}

.history-question {
    margin-left: 10px;
}

.content{
color: black;
font-family: "Calibri", serif;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F0EAD6;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
